:root {
    --bean-dark-blue: #083944;
    --bean-mid-blue: #2F6672;
    --bean-light-blue: #4AA1B5;
    --bean-gold: #EBC136;
    --bean-dark-gold: #CC9E09;
    --white: #FFFFFF;
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Open Sans Light;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: Open Sans Light Italic;
    src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: Open Sans Bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: Open Sans Bold Italic;
    src: url("../fonts/OpenSans-BoldItalic.ttf");
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Open Sans;
    color: var(--bean-dark-blue);
}
.logo {
    width:150px;
    height:auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Open Sans Light;
}
h1, a, button {
    color:var(--bean-light-blue);
}
h2, p {
    color: var(--bean-dark-blue);
}
h3, h4, h5, h6 {
    color: var(--bean-mid-blue);
}
.menulist p {
    text-align:center;
}
.left h2, .left p{
    text-align:left;
}