
@{
    ViewData["Title"] = "Menu";
}

<h1>@ViewData["Title"]</h1>
<div class="row menulist">
    <div class="col-md-4">
        <img src="../images/avocado-toast.png" class="d-block w-100" alt="Avocado Toast">
        <br/>
        <p><strong>Avocado Toast</strong></p>
        <p>$12.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/pancakes-with-maple-syrup.png" class="d-block w-100" alt="Pancakes with Maple Syrup">
        <br/>
        <p><strong>Pancakes with Maple Syrup</strong></p>
        <p>$14.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/caesar-salad.png" class="d-block w-100" alt="Caesar Salad">
        <br />
        <p><strong>Caesar Salad</strong></p>
        <p>$18.00</p>
    </div>
    <div class="col-md-4">
        <img src="../images/grilled-chicken-wrap.png" class="d-block w-100" alt="Grilled Chicken Wrap">
        <br />
        <p><strong>Grilled Chicken Wrap</strong></p>
        <p>$12.90</p>
    </div>
    <div class="col-md-4">
        <img src="../images/spaghetti-carbonara.png" class="d-block w-100" alt="Spaghetti Carbonara">
        <br />
        <p><strong>Spaghetti Carbonara</strong></p>
        <p>$22.50</p>
    </div>
    <div class="col-md-4">
        <img src="../images/steak-with-garlic-butter.png" class="d-block w-100" alt="Steak with Garlic Butter">
        <br />
        <p><strong>Steak with Garlic Butter</strong></p>
        <p>$29.90</p>
    </div>
</div>

