@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Welcome to Bean Scene</h1>
<p>Bean Scene is a family-friendly restaurant located in Sydney, Australia. It started by two brothers, James and Max Smith, in 2018. They specialise in serving affordable and delicious food featuring fresh ingredients prepared by their kitchen staff.</p>
<p>The restaurant is open all day, from breakfast to dinner, and often booked for events and parties. Bean Scene currently has some Android tablets that they use to search for new recipes to serve at special events and parties.</p>
<p>Bean Scene believe in the commitment to our community and maintaining long term relationships with our customers and suppliers. Their menus reflect this commitment by sourcing their meat and vegetable from local suppliers.</p>
<h2>Vision</h2>
<ul>
    <li>To provide affordable and delicious meals that suit the everyday busy lifestyle</li>
</ul>
<h2>Mission</h2>
<ul>
    <li>To provide excellent service while serving exceptional quality and delicious food at a reasonable price</li>
    <li>To improve customer experience by constantly improving our efficiency in receiving, processing, and serving orders</li>
    <li>To maintain sustainable growth and relationships with our stakeholders</li>
    <li>To promote continuous improvement in a happy and healthy work environment</li>
</ul>
<h2>Core Values</h2>
<ul>
    <li>Hospitality and quality</li>
    <li>Community and family</li>
    <li>Consistency and efficiency</li>
    <li>Purpose and growth</li>
</ul>
